# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
.vite/
frontend/node_modules/
frontend/dist/
frontend/.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Django
backend/staticfiles/
backend/media/
backend/.env
ai-services/.env

# Logs
*.log

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
